.pr {
  background: #fad02c !important;
  color: #313131 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  border-color: #fad02c !important;
  border-radius: 3px !important;
  display: flex !important;
  justify-items: center;
  align-items: center;
}
.pr:hover {
  background: #313131 !important;
  color: #fad02c !important;
}

.sc {
  color: #313131 !important;
  box-shadow: 0px 0px 4px #333652 !important;
  border-color: transparent !important;
  background: transparent !important;
  border-radius: 3px !important;
  display: flex !important;
  justify-items: center;
  align-items: center;
}

.sc:hover {
  background: #fad02c !important;
  color: #313131 !important;
}

.bl {
  background: #333652 !important;
  color: #fad02c !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  border-color: #333652 !important;
  border-radius: 3px !important;
  display: flex !important;
  justify-items: center;
  align-items: center;
}
.bl:hover {
  background: #fad02c !important;
  color: #333652 !important;
}
